*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
// Navbar


$media-desktop: "only screen and (max-width : 1200px)";
.navbar{
    .container{
        padding-left: 90px;
        .navbar-brand{
          margin-top: -0px;

        }
        .collapse{
           padding-left: 150px;
           ul{
             margin-top: -15px;
                li{
                    margin-left: 30px;
                    a{
                        font-weight:  bold ;
                        font-family: 'Roboto', sans-serif;
                        color: #201C1C;
                        font-size: 17px;
                    }
                }
            }
        }

    }
}
$media-desktop: "only screen and (max-width : 1200px)";

@media #{$media-desktop} {
  .navbar{
    .navbar-brand{
      margin-top: 0px;

    }
      .container{
          padding-left: 70px;
          .collapse{
             padding-left: 0px;
             ul{
                   margin-top: 0px;

                  li{
                      margin-left: 00px;
                  }
              }
             
          }
         
      }

  }
}

//header
.header{
    
   
    .Groub2{
        margin-top: 30px;
        .row{
            h3{    
               padding-top: 20%;
               margin-left: -40px;
            }
            .col-sm-7 {
              width: 60%;
            }       
       }
       
    }  
   
}

@media only screen and (max-width: 600px){
    .header{
        .Groub2{
           .row{
                h3{
                  
                   padding-top: 20px;
                   padding-left: 10%;

                }
                .col-sm-7{
                  width: 100%;
                  height: 80%;
                  margin-left: 0%;
                  margin-top: -250px;

                }  
           }
           
        }
    }
   
}


.Groub2052{
    img{
        width: 100%;
    }
}
.Group140{
    h1,span{
        font-family: roboto;
        color: #201C1C;
        font-weight: normal;

    }
   
}

@media only screen and (max-width: 1000px){
    .Group140{
        h1,span{
            display: flex;
            justify-content: center;
            align-items: center;
    
        }
       
    }
}


// Our Customer
.blogShort{
    h4{
        color: #201C1C;
        font-family: roboto;
        font-weight: bold;
    }
}
.customers{
    display: flex;
    justify-content:center;
}



  
  .container {
    margin-top: 50px;
    overflow: hidden;
    h1{
        color: #0D0900;
        font-weight: bold;
        font-family: Roboto;
    }
    .slider {
      animation: slidein 30s linear infinite;
      white-space: nowrap;
      .logos {
        width: 100%;
        display: inline-block;
        margin: 50px 0;
        img{
            padding-right: 10%;
        }
      }
    }
  }
  
  @keyframes slidein {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  @media only screen and (max-width: 1200px){
    .container {
        overflow: visible;
        .slider {
          animation: slidein 30s linear infinite;
          white-space: nowrap;
          .logos {
            width: 100%;
            display: inline-block;
            margin: 100px;
            img{
                padding-right: 20%;
            }
          }
        }
      }
}


// Are YOu Ready

.v16_2 {
  width: 100%;
  height: auto;
  background: rgba(255,255,255,1);
  position: relative;
}


.v16_3 {
  width: 90%;
  height: 400px;
  background: rgba(239,245,250,1);
  opacity: 1;
  position: relative;
  top: 162px;
  left: 85px;
  border-radius: 45px;
}

.v17_337 {
  position: relative;
  top: -120px;
  
  div{
    margin-top: 16%;
    
    
  }
}

@media only screen and (max-width: 1300px){
  .v17_337 {
    position:static;
    top: 0px;
    margin : 0 ;
    img{
      
      margin: 0;
      padding: 0;
    }
    div{
      margin-top: 25%;
      margin: 10px;
    }
  }
  .v16_3{
    top: 162px;
  left: 40px;
  height: 200px;
  }
}
@media only screen and (max-width: 1300px){
  .v17_337 {
    position:static;
    top: 0px;
    margin : 0 ;
    img{
      display: none;
      margin: 0;
      padding: 0;
    }
    div{
      margin-top: 25%;
      margin: 10px;
    }
  }
  .v16_3{
    top: 162px;
  left: 40px;
  height: 200px;
  }
}


/// about css 

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
$media-desktop: "only screen and (max-width : 1200px)";
.navbar{
    .container{
        padding-left: 90px;
        .collapse{
           padding-left: 150px;
           ul{
                li{
                    margin-left: 30px;
                    a{
                        font-weight:  bold ;
                        font-family: 'Roboto', sans-serif;
                        color: #201C1C;
                        font-size: 17px;
                    }
                }
            }
        }

    }
}

@media #{$media-desktop} {
    .navbar{
        .container{
            padding-left: 40px;
            .collapse{
               padding-left: 0px;
               ul{
                    li{
                        margin-left: 00px;
                    }
                }
               
            }
           
        }

    }
}


//How we work
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .contain{
    height: 600px;
  }

  .icon{

    height: 15px;
    width: 15px;
    display: block;
  }
  
  .step{
      margin-left: 4%; margin-top: -5%;

     .numberOfStep{
      width: 150%; 
      h6{
        font-size: 22px;
        font-family: 'Roboto', sans-serif;
        color: #FABA12;
        
      }
     }

      .loremIpsum{
        margin-left: 25%; padding-right: -200px; margin-right: -200px;

      }
    
  }

  .list-group {
    margin-left: 4%;

    .blogShort{
      h4{
        font-family: 'Roboto', sans-serif;
        color: #201C1C;
        font-size: 22px;
      }
    }

  }
  .icon-top{
    margin-left: -40px; margin-top: -40px; ;
  }



  

  @media screen and (max-width: 750px) {
    .step{
      
    
      .loremIpsum{
        margin-bottom: -120px;
        margin-left: 0px;  

      }
    
  }
  }
  @media screen and (min-width: 750px) {
    .step{
    
      .loremIpsum{
        margin-left: 0%; padding-right: -800px; margin-right: -80%;
      }
    
  }
  }
  @media screen and (min-width: 974px) {
    .step{
    
      .loremIpsum{
        margin-left: -25%; padding-right: -200px; margin-right: -200px;
      }
    
  }
  }

  
  @media screen and (max-width: 900px) {
    .contain{
      height: 790px;
    }
    
  }
  
//FAQ

  .FAQ{
    h4{
      color: #FABA12;
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
    }
    span{
      color: #201C1C;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;



    }
  }






//contact css


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
$media-desktop: "only screen and (max-width : 1200px)";
.navbar{
    .container{
        padding-left: 90px;
        .collapse{
           padding-left: 150px;
           ul{
                li{
                    margin-left: 30px;
                    a{
                        font-weight:  bold ;
                        font-family: 'Roboto', sans-serif;
                        color: #201C1C;
                        font-size: 17px;
                    }
                }
            }
        }

    }
}

@media #{$media-desktop} {
    .navbar{
        .container{
            padding-left: 40px;
            .collapse{
               padding-left: 0px;
               ul{
                    li{
                        margin-left: 00px;
                    }
                }
               
            }
           
        }

    }
}


//Contact Us
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  #contact {
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    h1{
        text-align: center;
        margin-left: 28%;
        padding: 40px 0;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1px;
        span{
            color: #FABA12;
        }

    }

    
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -420px;
    padding: 20px ;
    position: relative;
    max-width: 100%;
  }
  
  /* Left contact page */
  #contact-form{
      border-radius: 10px;
  }
  .form-horizontal {
    /*float: left;*/
    max-width: 500px;
    font-family: 'Lato';
    font-weight: 400;
    margin-left: 150px;
    height: 100%;

    button{
        width: 123px;
        border-radius: 10px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 25px;
        
    }

  }
  
  .form-group{
      padding: 10px 20px;
      width: 400px;
      label{
          margin-bottom: 10px;
          color: #0D0900;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
      }
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    color: #fff;
    letter-spacing: 1px;
    
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 1;
    color: #aaa;
    h6{
        color: #201C1C;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;  
    
  }
  
  
  .place {
    margin-left: 10px;
  }
  
  .phone {
    margin-left: 10px;
  }
  
  .gmail {
    margin-left: 10px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin-left: -50px;
    padding: 0;
  }
  .SOCIALADDRESS{
    color: #201C1C;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
    
      margin: 0 auto;
      .form-group{
        padding: 10px 10px;
        width: 400px;
        }
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 350px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  @media screen and (max-width: 975px) {
    
    .direct-contact-container, .form-horizontal {
    
      margin-left: 5%;
      
    }  
    
    
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }

  @media screen and (max-width: 800px) {
    .section-header {
        h1{
            text-align: center;
            margin-left: -2%;
            padding: 40px 0;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            span{
                color: #FABA12;
            }
        }
        
      }
   
  }


  





